<h3>Projekty</h3>
<div class="alert alert-primary">
<div class="input-group">
    <input [(ngModel)]="selected"
    [typeahead]="project_list"
    class="form-control"
    (typeaheadNoResults)="typeaheadNoResults($event)"
    placeholder="Search for a user">
    <span class="input-group-btn">
         <button [routerLink]="['/projects/add']" routerLinkActive="router-link-active" class="btn btn-default" type="button"  style="color: white"><i class="fa fa-plus"></i>Add a project</button>
    </span>
 </div>
</div>
<div class="alert alert-danger" *ngIf="noResult">No Results Found</div>

<div class>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project</th>
        <th scope="col" >Company</th>
        <th scope="col" >Deadline</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <th scope="row">{{project.projectId}}</th>
        <th class="text-uppercase">{{project.projectName}}</th>
        <td>{{project.company.companyName}}</td>
        <td>{{project?.deadline | date:'medium'}}</td>
        <td>
          <a href="#" class="btn btn-primary" [routerLink]="['/projects/', project.projectId]" routerLinkActive="router-link-active">
            See details
        </a></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="row" *ngIf="(!lookForProject.dirty && !lookForProject.touched)
  || (noResult)">
  <div class="col-lg-3 col-md-6 col-sm-12 mb-2" *ngFor="let project of projects">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-header bg-warning text-uppercase" [ngClass]="{
        'project-finished': project.isFinished,
        'project-inprogress': !project.isFinished && !deadlinePassed(project),
        'project-deadline': !project.isFinished && deadlinePassed(project)}">
        {{project.isFinished}} {{deadlinePassed(project)}}
      </div>
        <div class="card-body">
          <h5 class="card-title">{{project.projectName}}, <span class="text-uppercase">{{project.company.companyName}}</span></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary" [routerLink]="['/projects/', project.projectId]" routerLinkActive="router-link-active">
            Zobacz szczegóły
          </a>
        </div>
      </div>
  </div>
</div>

<div class="row" *ngIf="lookForProject.dirty">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2">
        <div class="card text-center" style="width: 18rem;">
          <div class="card-header bg-warning" [ngClass]="single_project ? 'bg-warning' : 'bg-dark'">
            {{single_project}}
          </div>
            <div class="card-body">
              <h5 class="card-title text-uppercase">{{single_project}}</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary" >Zobacz szczegóły</a>
            </div>
          </div>
      </div>
</div>
 -->
