<h3>Customers</h3>
<div class="alert alert-primary">
<div class="input-group">
    <input [(ngModel)]="selected"
    [typeahead]="client_names"
    class="form-control"
    placeholder="Search for a customer">
    <span class="input-group-btn">
         <button class="btn btn-default" type="button"  style="color: white"><i class="fa fa-plus"></i>Add a client</button>
    </span>
 </div>
</div>

<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <div *ngFor="let company of companies">
      <tr>
        <th scope="row">1</th>
        <td>{{company.companyName}}</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </div>
    </tbody>
  </table>