<div class="container text-center text-container" *ngIf="!registrationMode">

  <!-- ngSumbit is a function of angular. so after you click submit down below,
    you get directed to login function in ts file -->
  <form #loginForm="ngForm" class="form-signin" (ngSubmit)="login()">


  <h1 class="h3 mb-3 font-weight-normal">Login</h1>

  <!-- has to have names. ngClasses are binding with the values in ts file -->
  <label class="sr-only">Email Address:</label>
  <input type="text"class="form-control"
    placeholder="Enter Valid Email" required autofocus
    name="email"
    [(ngModel)]="model.email">

  <label class="sr-only">Password</label>
  <input type="password" class="form-control"
   name="password"
   placeholder="Enter Valid Password" required
   [(ngModel)]="model.password"><br/>

   <label class="alert-link">
      <a (click)="toggleRegistrationMode()">Register</a>
   </label>

  <!-- <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Zapamiętaj mnie
    </label> 
  </div> -->

  <!-- button has to have submit type -->
  <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>


  </form>

</div>


<div class="container text-center text-container" *ngIf="registrationMode">
  <form [formGroup]="registerForm" class="form-signin" (ngSubmit)="register()">


      <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    
      <!-- has to have names. ngClasses are binding with the values in ts file -->
      <input type="email" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
        placeholder="Enter Email" autofocus
        formControlName="email" pattern=".+@.+">
        <div class="invalid-feedback">Please Enter Valid Email</div>

      <input type="text" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}"
        placeholder="Enter First Name"
        formControlName="name">
        <div class="invalid-feedback">First Name is required</div>


      <input type="text" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('surname').errors && registerForm.get('surname').touched}"
        placeholder="Enter Surname"
        formControlName="surname">
        <div class="invalid-feedback">Surname is required</div>

      <input type="text"
              class="form-control"
              [ngClass]="{'is-invalid': registerForm.get('birthDate').errors}"
              #dp="bsDatepicker"
              bsDatepicker
              name="birthDate"
              formControlName="birthDate">
              <div class="invalid-feedback">Date of Birth is required</div>

      <div class="form-group">
        <label class="radio-inline">
          <input class="mr-3" type="radio" value="Male" formControlName="gender">Male
        </label>
        <label class="radio-inline ml-3">
          <input class="mr-3" type="radio" value="Female" formControlName="gender">Female
        </label>
      </div>      
    
      <input type="password" class="form-control"
      formControlName="password"
      [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      placeholder="Enter Password">
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
        Password Required
      </div>
      <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
          Password
        </div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
            Enter valid Password
          </div>


      <input type="password" class="form-control"
      [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors
       && registerForm.get('confirmPassword').touched
       || registerForm.get('confirmPassword').touched
       && registerForm.hasError('mismatch')}"
      formControlName="confirmPassword"
      placeholder="Confirm Password"><br/>
      <div class="invalid-feedback"
        *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
        Password didn't match
      </div>
      <div class="invalid-feedback"
      *ngIf="registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')">
      Confirm Password
    </div>
    
      <div class="form-group text-center">
        <button class="btn btn-success btn-lg" [disabled]="!registerForm.valid" type="submit">Sign-up</button>
        <button class="btn btn-default btn-lg" type="button" (click)="cancel()">Cancel</button>
      </div>
      
    </form>
  </div>