<!-- <h3>Użytkownicy</h3> -->
<!-- <div class="alert alert-primary">
<div class="input-group">
    <input [(ngModel)]="selected"
    [typeahead]="users_names"
    class="form-control"
    placeholder="Szukaj użytkownika">
    <span class="input-group-btn">
         <button class="btn btn-default" type="button"  style="color: white"><i class="fa fa-plus"></i>Stwórz grupę</button>
    </span>
 </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div  *ngFor="let user of users">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="card text-center" style="width: 9rem;">
            <img class="card-img-top" src="{{user.gender==='Female'? femaleUrl : maleUrl}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{user.name}} <br /> {{user.surname}}</h5>
              <div>
                <span class="badge badge-info mr-1" [routerLink]="['/members/', user.id]" routerLinkActive="router-link-active" >
                  <i class="fa fa-info-circle m-1" aria-hidden="true"></i>
                </span>         
                <span class="badge badge-danger mr-1"> <i (click)="deleteUser(user.id)" class="fa fa-trash  m-1" aria-hidden="true"></i></span>
                <span class="badge badge-success"><i class="fa fa-plus m-1" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</div>



<!-- <div class="container-fluid"> -->
  <!-- <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-2" *ngFor="let user of users">
       <li class="list-group-item" >
         <div class="row container-fluid">
            <div class="left">
                {{user.name}} {{user.surname}}
             </div>
             <div class="right">
               <span class="badge badge-primary mr-1" [routerLink]="['/members/', user.userId]" routerLinkActive="router-link-active" ><i class="fa fa-user-circle-o m-1" aria-hidden="true"></i></span>    
               <span class="badge badge-primary mr-1"><i class="fa fa-file m-1"></i></span>       
               <span class="badge badge-primary"><i class="fa fa-users m-1"></i></span>
             </div>
         </div>
      </li>    
    </div>
  </div> -->
